.checkin_main {
  background-color: #DEF5D0;
}

.checkin_main_form {
    width: 800px !important;
}


.checkin_main_message {
    width: 800px !important;
    background-color: #FFFFCC;
}

.checkin_header_1 {
  background-color: #C0D1B6;
}
