<div id="checkin_response_panel"
     class="container checkin_main_message mt-3 p-5 border rounded"
     style="width: 800px;">
  <input type="hidden" id="hdn_badge_message" name="hdn_badge_message" value="{{ badge_message }}" />
  <div class="row">
    <!-- This column visually spans "rows" created by the nested structure -->
    <div class="col-md-3">
    <img id="checkin_img_student"
         name="checkin_img_student"
         src="{{image_srce_url | default('/static/images/RSM_Logo_002.jpg')}}"
         alt="Student Image"
         class="banner object-center"
         height="125"/>
    </div>
    <!-- This column contains nested rows -->
    <div class="col-md-8">
      <div class="fw-bold fs-5" id="checkinMessage"   >{{checkinMessage | default('&nbsp;')|safe}}</div>
      <div class="fw-bold fs-5" id="promotionMessage" >{{promotionMessage| default('&nbsp;')|safe}}</div>
      <div class="fw-bold fs-5" id="otherMessage"     >{{otherMessage| default('&nbsp;')|safe}}</div>
      <div class="" id="timerCountDown" >
        <span id="checkinTimer5" class="me-2 text-warning fw-bold ">5</span>
        <span id="checkinTimer4" class="me-2 text-warning fw-bold">4</span>
        <span id="checkinTimer3" class="me-2 text-warning fw-bold">3</span>
        <span id="checkinTimer2" class="me-2 text-warning fw-bold">2</span>
        <span id="checkinTimer1" class="text-warning fw-bold">1</span>
      </div>
    </div>
  </div>
</div>
