{% extends "base.html" %}

{% block title %}Attendance Tables{% endblock %}

{% block content %}
<div class="mt-5 p-5">
    <h1>Welcome to the Attendance Tables page!</h1>
    <p>Select a table to view details for that table.</p>
    <button type="button" id="createTables" >Create Tables</button>
    <button type="button" id="initializeTables" >Initialize Tables</button>

    <ul>
        <li>
            <button type="button"
                id="importStudents"
                hx-get="/import_students"
                hx-target="#import_response"
                hx-swap="innerHTML"
                hx-on::before-request="resetImportResponse()"
                >Import Students</button>
        </li>
        <li>
            <button type="button"
                id="importBelts"
                hx-get="/import_belts"
                hx-target="#import_response"
                hx-swap="innerHTML"
                hx-on::before-request="resetImportResponse()"
                >Import Belts</button>
        </li>
        <li>
            <button type="button"
                id="importClasses"
                hx-get="/import_classes"
                hx-target="#import_response"
                hx-swap="innerHTML"
                hx-on::before-request="resetImportResponse()"
                >Import Classes</button>
        </li>
        <li>
            <button type="button"
                id="importEligibility"
                hx-get="/import_eligibility"
                hx-target="#import_response"
                hx-swap="innerHTML"
                hx-on::before-request="resetImportResponse()"
                >Import Eligibility</button>
        </li>
        <li>
            <button type="button"
                id="importPromotions"
                hx-get="/import_promotions"
                hx-target="#import_response"
                hx-swap="innerHTML"
                hx-on::before-request="resetImportResponse()"
                >Import Promotions</button>
        </li>
        <li>
            <button type="button"
                id="importStripes"
                hx-get="/import_stripes"
                hx-target="#import_response"
                hx-swap="innerHTML"
                hx-on::before-request="resetImportResponse()"
                >Import Stripes</button>
        </li>
        <li>
            <button type="button"
                id="importAssets"
                hx-get="/import_assets"
                hx-target="#import_response"
                hx-swap="innerHTML"
                hx-on::before-request="resetImportResponse()"
                >Import Assets</button>
        </li>
        <li>
            <button type="button"
                id="importStyles"
                hx-get="/import_styles"
                hx-target="#import_response"
                hx-swap="innerHTML"
                hx-on::before-request="resetImportResponse()"
                >Import Styles</button>
        </li>
        <li>
            <button type="button"
                id="importZipcodes"
                hx-get="/import_zipcodes"
                hx-target="#import_response"
                hx-swap="innerHTML"
                hx-on::before-request="resetImportResponse()"
                >Import ZipCodes</button>
        </li>
    </ul>
    <div id="import_response">

    </div>

</div>
{% endblock %}
{% block javascripts %}
    {{ super() }} {# This calls the parent block's content if any #}
    <script src="{{ url_for('static', filename='scripts/import_scripts.js') }}"></script>
    <script>
        window.onload = function(){
         console.log("Tables window has been loaded");
        };
    </script>
{% endblock %}