{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rising Sun Class Checkin</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.22/dist/full.min.css" rel="stylesheet" type="text/css" />
    <link href="{% static 'checkin.css' %}" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<body class="">

<script src="{% static 'display_crntdate.js' %}"></script>
<script src="{% static 'checkin.js' %}"></script>
<script src="{% static 'required_rank.js' %}"></script>

{% include 'modal_rank_required.html' %}

<div id="modal-form-container">
    <!-- The form will be loaded here -->
</div>
<div class="grid grid-cols-1 mt-16 mb-8">

    <div class="m-auto">
        <img id="checkin_img_banner"
             name="checkin_img_banner"
             src="{% static 'rising-sun-martial-arts-logo.jpg' %}"
             alt="Checkin Image"
             class="banner object-center"
             width="800"/>
    </div>
</div>


<form id="frm_checkin_main" class="w-3/5 checkin_main mx-auto m-5 p-8 rounded-lg"
      hx-post="{% url 'badge_checkin' %}">
    {% csrf_token %}
    <div class="flex justify-center rounded-lg p-4">
        <h3 class="font-bold text-3xl  rounded-lg pt-4 pb-1">
            Please checkin before starting class...
        </h3>
    </div>
    <div class="flex justify-center mt-2">
        <input
                type="text"
                id="badgeNumber"
                name="badgeNumber"
                class=" w-1/4 p-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500"
        />
    </div>
    <div class="flex text-center justify-center mt-4">
        <label id="currentDateTime" class="font-bold text-xl w-1/2 text-gray-700">
            Today's date and time.
        </label>
    </div>


    <div class="grid grid-cols-[100px_1fr] mt-4">
        <div>
        <button class="btn btn-sm btn-success"
                type="button"
                hx-post="{% url 'show_required_ranks' %}"
                hx-target="#modal_rank_required"
                hx-on::after-swap="modal_rank_required.showModal()"
                hx-swap="outerHTML">Ranks</button>
        </div>
        <div>
        <label id="badgeMessage" class="font-bold text-lg">

        </label>
        </div>
    </div>

</form>

<div class="w-3/5 checkin_main_message mx-auto m-5 p-8 rounded-lg grid grid-cols-5 gap-4">
  <div class="col-span-1">
    <img id="checkin_img_student"
         name="checkin_img_student"
         src="/media/student_images/122043_32.webp"
         alt="Student Image"
         class="banner object-center"
         height="75"/>
  </div>
  <div class="col-span-4">
    <div id="checkinMessage" class="flex mt-2 font-bold text-xl ">
checkinMessage
    </div>
    <div id="promotionMessage" class="flex mt-4 font-bold text-xl ">
promotionMessage
    </div>
    <div id="otherMessage" class="flex mt-4 font-bold text-xl ">
otherMessage
    </div>

    <div id="timerCountDown" class="flex mt-4 font-bold text-sm text-end text-orange-500 float-right">
        <label id="checkinTimer5" class="m-0.5">5</label>
        <label id="checkinTimer4" class="m-0.5">4</label>
        <label id="checkinTimer3" class="m-0.5">3</label>
        <label id="checkinTimer2" class="m-0.5">2</label>
        <label id="checkinTimer1" class="m-0.5">1</label>
    </div>
  </div>


</div>
</body>
<script>
    window.onload = function(){
     console.log("Window has been loaded");
     startDateTimerInterval();
    };
</script>
</html>
