<div id="myModal" class="modal" >
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <hr>
        <h3 id="studentHeader"   class="font-bold text-lg mb-2 mt-2 text-center">Hello - {{form.student_name}}</h3>
        <h3 id="studentGreeting" class="font-bold text-lg mb-2 mt-2 text-center">Please enter your current rank.</h3>
        <hr>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form id="frm_required_rank" hx-post="{% url 'update_required_rank' %}"
            class="mb-4">
            {% csrf_token %}
            <input type="hidden" name="badge_number" value="{{ form.badge_number }}" />
            {{ form.badge_number.as_hidden }}
            <div id="div_required_ranks" class="form-control w-full">
                <label class="label">
                    <span class="label-text font-bold">Your current rank</span>
                    {{ form.required_ranks}}
                </label>
            </div>

            {% include 'belt_stripes.html' %}

            <div class="modal-action">
            </div>

            <div class="text-center">
                <span id="rank_update_message" class="text-success font-bold text-lg">Rank update message</span>
            </div>

        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="reset"
                class="btn btn-primary"
                onclick="clearAllRankRequiredInputs();"
                data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success">Submit</button>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

    </div>
  </div>
</div>